@model MvcStock.Models.Entity.TBL_Products
@{
    ViewBag.Title = "ReturnProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Update", "Product", FormMethod.Post))
            {
<div class="form-group">
    @Html.LabelFor(m => m.ProductID)
    @Html.TextBoxFor(m => m.ProductID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.ProductName)
    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.ProductCategory)
    @Html.DropDownListFor(m=>m.TBL_Categories.CategoryID,(List<SelectListItem>)ViewBag.dgr, new { @class="form-control"}) 
    <br />
    @Html.LabelFor(m => m.Marka)
    @Html.TextBoxFor(m => m.Marka, new {@class="form-control"})
    <br />
    @Html.LabelFor(m => m.Cost)
    @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m=>m.Stock)
    @Html.TextBoxFor(m=>m.Stock, new {@class="form-control"})

</div>
                <div>
                    <button class="btn btn-warning">Update Product</button>
                </div>
            }
